<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmrUxTzfU2LFgNlzABHAy9RQeCu_TOns8</string>
	<key>GCM_SENDER_ID</key>
	<string>735173445858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerCloneApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-clone-unes</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-clone-unes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735173445858:ios:db4f2fe3aa633179f536bb</string>
</dict>
</plist>